# Database Credentials
POSTGRES_DB=healthcare_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Backend Configuration
SPRING_PROFILES_ACTIVE=prod
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
