[submodule "backend"]
	path = backend
	url = https://github.com/JP19-03/healthcare-maintenance-system-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/JP19-03/healthcare-maintenance-system-frontend.git
